# /apps/myapp.vars

ERL_MAX_PORTS=65536

DATABASE_USERNAME="myapp_prod"
DATABASE_PASSWORD="{{ db_password }}"
DATABASE_HOSTNAME="{{ database_hostname }}"
DATABASE_DB_NAME="myapp_prod"
SECRET_KEY_BASE="{{ secret_key_base }}"
DOMAIN_NAME="{{ ansible_host }}"
RELEASE_NODE="myapp@{{ ansible_host }}"
NODE_NAME="{{ inventory_hostname }}"

FONTAWESOME_FREE_ONLY=FALSE
